<div id="about">
  <p>
    Hello! My name is Hunter Callaway. This app is an Angular-ified version of <a href="https://www.youtube.com/watch?v=hqfI7Fxnhgs">this YouTube tutorial</a>. I also added some custom functionality.
  </p>
  <p>
    If you're curious about the background image, it's <i>No. 3, Youth</i> from the series "The Ten Largest" by Hilma af Klint. You can read more about her and her work at <a href="https://www.guggenheim.org/exhibition/hilma-af-klint">the Guggenheim's website</a>.
  </p>
</div>
