<div id="main">
	<h1 class="small-bottom-margin" id="header">Angular To-Do List</h1>
	<p>Once you've finished a task, simply click it and confirm deletion.</p>
	<div id="new-todo-form-container" class="small-bottom-margin">
		<input type="text" class="form-control" id="new-todo-input" />
		<button class="btn btn-primary" id="submit-new-todo-btn">Submit</button>
	</div>
	<!-- <button class="btn btn-danger" id="reset-local-storage-btn">Reset Local Storage</button> -->
	<ul id="todo-list-container" class="list-group" droppable [dropScope]="dropAllowed" [dragOverClass]="'drag-target-border'"></ul>
</div>
